/* CSS Variables */

:root {

    --primary: #2563eb;

    --secondary: #dbeafe;

    --background: #f4f4f4;

    --text: #333;

}

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;

    background: var(--background);

    color: var(--text);

    margin: 30px;

    line-height: 1.6;

}

header {

    text-align: center;

    margin-bottom: 40px;

}

section {

    margin-bottom: 50px;

}

.variable-card {

    background: var(--secondary);

    border-left: 6px solid var(--primary);

    padding: 20px;

    border-radius: 8px;

}

.variable-card h3 {

    color: var(--primary);

}

/* clamp() */

.fluid-heading {

    font-size: clamp(1rem, 5vw, 2.5rem);

    color: var(--primary);

    margin: 20px 0;

}


/* Grid Template Areas */

.grid-layout {

    display: grid;

    grid-template-columns: 200px 1fr;

    grid-template-areas:

        "header header"

        "sidebar main"

        "footer footer";

    gap: 10px;

}

.grid-header {

    grid-area: header;

    background: #2563eb;

    color: white;

    padding: 20px;

}

.grid-sidebar {

    grid-area: sidebar;

    background: #bfdbfe;

    padding: 20px;

}

.grid-main {

    grid-area: main;

    background: white;

    padding: 20px;

}

.grid-footer {

    grid-area: footer;

    background: #2563eb;

    color: white;

    padding: 20px;

}

/* aspect-ratio */

.aspect-card {

    aspect-ratio: 16 / 9;

    background: #60a5fa;

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    border-radius: 10px;

    padding: 20px;

    max-width: 600px;

}
